.navbar-default{
	background-color:#f7f7f7;
}

.user-dropdown{
	position: absolute;
	background-color: #f7f7f7;
	padding-left: 10px;
	padding-right: 10px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.drop-parent{
	position: relative;
}

.drop-opt{
	text-decoration: none !important;
	font-size: 16px !important;
}

.nav-font{
	color:rgba(0, 0, 0, 0.9);
}