<div class="container-fluid" id="container">
	<div class="row">
		<div class="col-md-12" id="main">
			<div class="jumbotron" id="mainTop">
				<h2>E-Voting</h2>
				<p>
					<strong>T</strong>he Election Commission of India is an autonomous constitutional authority responsible for
					administering Union and State election processes in India. The body administers elections to the Lok Sabha, Rajya
					Sabha, State Legislative Assemblies in India, and the offices of the President and Vice President in the
					country.&nbsp;
				</p>
			</div>

			<div class="row">
				<div class="col-md-12 textAlignCenter"></div>
			</div>
		</div>
	</div>
</div>
